@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-3">Bienvenidos!</h1>
    
    <p><img src="https://d3a1v57rabk2hm.cloudfront.net/animeteeshirtclub/parcel_mobile/images/banner-image-5.png?ts=1567485098&host=www.animeteeshirtclub.com" alt="imgf"/> 
</></p>
</div>
